.next
node_modules
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
coverage
dist
*.log
.DS_Store
postgres_data
*.sqlite
.turbo
docker-compose.override.yml
*.lockdb
.npmrc
.pnpm-debug.log
.yarn-debug.log
.yarn-error.log
